*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif ;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/*Utility classes*/
.primary-text{
    color: rgb(240, 117, 35);
    font-style: italic;
}
.btn{
    display: inline-block;
    padding: 15px 30px;
    border: none;
    border-radius: 15px;
}
.btn-primary{
    color: white;
    border: 1px solid white;
}
.btn-primary:hover{
    background: rgb(255, 86, 25) ;
}
/*Header start*/
header{
    height: 100vh;
    background: url('./img/home_bg.jpeg') center center/cover no-repeat ;
    position: relative;
}
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar img{
    width: 80px;
    
}
#navbar ul{
    display: flex;
    margin-right: 100px;
    
}
#navbar ul li a{
    padding: 15px 20px ;
    color: beige;
    font-weight: 600;
}
#navbar ul li a:hover{
    border-bottom: 2px solid orange ;
    border-radius: 15px;
    
}
header .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75%;
}
header .content h1{
    font-size: 40px;
    color: white;
}
header .content p{
    margin: 20px 0 40px;
    color: white;
}
header::before{
   content: ""; 
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-color:rgb(0, 0, 0, 0.6);
}
header *{
    z-index: 10;
}
/*Header end*/
